@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title</h2>

<address>
    3400 Civic Center Blvd, Office 626<br />
    Philadelphia, PA 19104<br />
    <abbr title="Phone">P:</abbr>
    267-250-4933
</address>

<address>
    <strong>Email Me:</strong> <a href="mailto:thursey@sas.upenn.edu">thursey@sas.upenn.edu</a>
</address>