@{
    ViewBag.Title = "Curriculum Vitae";
}
<h2>@ViewBag.Title.</h2>

<iframe src="https://drive.google.com/file/d/1LHPNDDVfwvOEV8kUA5p1IlPY7xy6sRos/preview" style="width:95%; height:1000px; overflow:auto"></iframe>
