@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tim Hursey</h1>
    <p class="lead"></p>
</div>

<div class="row" style="text-align:center">
    <img src="/content/images/timheadshot.jpg" />
</div>

<div class="row" style="text-align:center">
        <br />
        <p>
            thursey@sas.upenn.edu
        </p>
        <p>
            267-250-4933
        </p>
        <p>
            3400 Civic Center Blvd, Office 626
            <br />
            Philadelphia, PA 19104
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/timothy-hursey-29687016a/">LinkedIn &raquo;</a></p>
</div>