
@{
    ViewBag.Title = "Research";
}

<h2>Research</h2>

<h3>Research in Progress:</h3>

<h4><a href="https://drive.google.com/open?id=15Wl7MRlKJ8PYdGqfQWjno8WpQ4JVXhf8">Crowding Out and Paying Up: Labor Force Participation and Wage Inequality with Simultaneous, Random Search:</a></h4>
<div>(Job Market Paper) This paper constructs a model of simultaneous search in the labor market in order to propose a novel contributor to the twin effects of labor force participation decline and rising wage inequality. Unemployed workers can exert costly effort to randomly connect with multiple firms in a frictional search environment. Firms in turn choose the best available worker from their pool. An algorithm for determining pairwise-stable matching is provided and incorporated into a dynamic, general equilibrium model. Increasing search efficiency (lower costs) will generate falling labor force participation--as the lowest-rank workers are squeezed from the market--and rising wage inequality--as firms compete more strongly for the highest-ranked workers.</div>
<br />
<h4><a href="https://drive.google.com/open?id=1TTjfUJZKZ91lG4zJTkQl636XPNLep3sG">Sectoral Shocks and Labor Networks:</a></h4>
<div>How do workers switch between sectors and how does this change our understanding of the network origins of business cycles? To answer this question, I track industry switchers through the CPS and use their observed transitions to induce a labor transition network. I document that the network is sparse, indicating strong frictions in the ability of workers to freely move in the labor market. I then incorporate this network into a multi-sector RBC model with intersectoral material linkages. Relative to past literature, incorporating the labor network greatly revises upward the estimates of the contribution of aggregate shocks and serves to better match several key statistics in the data. However, the bulk of the revision is attributable mostly to a general friction to switching jobs, and not the switching network–indicating that while re-allocation is sparse, it is not highly restrictive.</div>
<br />
<h4><a href="https://drive.google.com/open?id=1JD5JpxlDJQQrW0uevq0RKafKAchrirOe">Simultaneous Product Search and Market Dynamics:</a></h4>
<div>The ability of consumers to shop and compare prices has undergone a marked transition, most notably with the rise in online retail over the past two decades. Yet, little is known about the implications of such a change on product markets. In this paper, I build a micro-founded and tractable model of simultaneous search featuring realistic product search frictions. Two key forces govern the reaction of markets to search—a variety sampling effect and a competition effect. I precisely characterize the dominant effect in terms of the shape of the taste distribution: when the right tail is thick enough, variety sampling will drive up prices; while with a thin right tail, the competition effect dominates and drives down prices. Implications for market entry/exit and product variety are demonstrated in a general equilibrium environment.</div>
<br />
<h4><a href="https://drive.google.com/open?id=1Qmi_w4khWrd1u4C4LtGMZD3VHk26nCsA">Assessing Teamwork Complementarities:</a></h4>
<div>To whom should a team’s success be attributed? I provide a hidden-markov methodology to answer this question from team data by simultaneously estimating the modularity of team-specific production in a high-dimensional setting and the underlying skills of the team-members involved. The only data required for estimation are the identities of the players, their roles, and an observable outcome. An application to a large sports dataset indicates strong complementarities between roles that, when accounted for, improve model fit.</div>
<br />

<h3>Papers:</h3>

<p><h4><a href="http://www.richmondfed.org/publications/research/economic_quarterly/2010/q4/pdf/wolman.pdf">Monetary policy and global equilibria in a production economy</a></h4> with Alexander Wolman, Economic Quarterly, Federal Reserve Bank of Richmond, issue 4Q, pages 317-377.</p>